@model IEnumerable<FineDine.Models.Establishment>

@{
    ViewBag.Title = "Index";
}

<script>
    System.defaultJSExtensions = true;
    System.config({
        baseURL: '/Scripts/node_modules/'
    });
    System.import("/Scripts/App/search");
</script>

<div class="container">
    <div class="container col-lg-12 col-md-12 col-sm-12" style="padding: 50px 15px 50px 15px">

        <h2>Establishments: </h2>
        <search-list>Loading...</search-list>
        <nav class="center-align">
            <ul class="pagination">
                <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>                
                <li><a href="#">2 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">3 <span class="sr-only">(current)</span></a></li>
                <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
            </ul>
        </nav>
        
    </div>
</div>