@{
    ViewBag.Title = "About";
}
<div class="container">
    <h2>Who are we?</h2>
    <h3>Who are the people behind FineDine project?</h3>

    <p class="finedine-text">We are a pair of students from the University of Split currently pursiung our Master's degree in Computer Science. We have bear huge passion for all things technology and business related.</p>
    <table class="col-lg-10 col-md-10 col-sm-10">
        <tr><td height="10px;"></td></tr>
        <tr>
            <td class="col-lg-5 col-md-5 col-sm-5 finedine-text center-align">
                <img src="~/img/barisin.png" style="width:300px;" />
            </td>
            <td class="col-lg-5 col-md-5 col-sm-5 finedine-text center-align">
                <img src="~/img/brcic.png" style="width:300px;" />
            </td>
        </tr>
        <tr>
            <td class="col-lg-5 col-md-5 col-sm-5 finedine-text center-align">
                Marijan Barisin
            </td>
            <td class="col-lg-5 col-md-5 col-sm-5 finedine-text center-align">
                Josip Brcic
            </td>
        </tr>
        <tr>
            <td colspan="2"><h3>Reach us at:</h3></td>
        </tr>
        <tr>
            <td class="col-lg-5 col-md-5 col-sm-5 finedine-text center-align">
                <a href="mailto:barisin.marijan@gmail.com?Subject=Hello!" target="_top" style="font-size:19px;">barisin.marijan@gmail.com</a>
            </td>
            <td class="col-lg-5 col-md-5 col-sm-5 finedine-text center-align">
                <a href="mailto:jbrcic00@fesb.com?Subject=Hello!" target="_top" style="font-size:19px;">jbrcic00@fesb.hr</a>
            </td>
        </tr>
        <tr><td height="50px;"></td></tr>
        <tr>
            <td class="col-lg-10 col-md-10 col-sm-10 finedine-text" colspan="2">
                or find our project at:
                <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
            </td>
        </tr>
    </table>
</div>

