@{
    ViewBag.Title = "Home";
}
<div class="intro-header" style="margin-top: -20px;margin-bottom: -50px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="intro-message">
                    
                    <div class="input-group col-lg-12 col-md-12 col-sm-12 center-align">
                        <h1 style="font-size:450%">Welcome to FineDine!</h1>
                        <br />
                        <table style="width:100%">
                            <tr>
                                <td class="col-lg-10 col-md-10 col-sm-10" style="margin-right:0;">
                                    <input type="text" class="form-control searchbar" style=" min-width:280px;" placeholder="What are you looking for?">
                                </td>
                                <td rowspan="2" class="col-lg-2 col-md-2 col-sm-2">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" id="home-search" type="button">Search!</button>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-lg-10 col-md-10 col-sm-10">
                                    <input type="text" class="form-control searchbar" placeholder="Where are you?">
                                </td>
                            </tr>
                        </table>
                    </div>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li class="home-checkbox">
                            <input type="checkbox"> Restaurant
                        </li>
                        <li class="home-checkbox">
                            <input type="checkbox"> Fast food
                        </li>
                        <li class="home-checkbox">
                            <input type="checkbox"> Bar
                        </li>
                        <li class="home-checkbox">
                            <input type="checkbox"> Coffe shop
                        </li>
                    </ul>

                 </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>